<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="MHAC DELIVERY"
        android:icon="@drawable/ic_mhac_delivery"
        android:roundIcon="@drawable/ic_mhac_delivery"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ShareReceiverActivity"
            android:exported="true"
            android:label="MHAC DELIVERY"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <!-- Main Google Maps/Android share target. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Some share providers use a URI-list MIME type. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/uri-list" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <!-- Broad fallback for Samsung/Google share providers that advertise a generic type. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MHAC DELIVERY"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
